/*
	===============================
	Reset
	===============================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }




body{
	width: 230px;
	border-radius: 10px;
	padding-top: 18px;
}

h1{
	font-size: 20px;
	font-family: 'Raleway','Lato','Open Sans', sans-serif;
	text-align: left;
	margin: 0 auto;
	line-height: 1.3em;
	color: black;
	padding-left: 20px;
}

.loading{
	width: 50%;
	margin: 0 auto;
	display: block;
	bottom: 30px;
}

.status{
	z-index: 2;
}

p{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	margin-top: 25px;
	margin-bottom: 18px;
}

img{
	display: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	width: 80%;
}

ul{
	list-style-type: disc;
	font: 12px 'Open Sans', sans-serif;
	padding-left: 45px;
	padding-right: 20px;
	padding-bottom: 12px;
	line-height: 1.6em;
	display: none;
}

#container{
	width: 70%;
	margin: 20px auto;
	margin-top: 25px;
	margin-bottom: 20px;
	display: none;
}

button{
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	padding: 6px 18px;
	display: block;
	font: 12px 'Lato', sans-serif;
	font-weight: 300;
	outline: none;
	background-color: #D4FFAA;
	border: none;
	transition: 0.9s;
	display: none;
	width: 85%;
}

button:hover{
	background-color: #11DBB9;
	transition: .9s;
}

#breakdown{
	margin-top: 0;
	margin-bottom: 12px;
}
#suggestions{
	margin-bottom: 10px;
}

.noFixes{
	font: 12px 'Open Sans', sans-serif;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}